.container {
  width: 400px;
  height: 200px;
}

.good {
  width: 33%;
  float: left;
}
.goodHeader {
  background-color: rgb(36, 199, 85);
}

.avarage {
  width: 33%;
  float: left;
}
.avarageHeader {
  background-color: rgb(190, 188, 68);
}

.bad {
  width: 34%;
  float: left;
}

.badHeader {
  background-color: rgb(190, 68, 93);
}

ol{
    list-style: none;
    padding-left: 5px;
}
